*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

header,
main {
  max-width: 1000px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #000000;
}

button {
  cursor: pointer;
}

ul {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.header {
  margin-top: 17px;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 1.6rem;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__phone {
  margin-top: 10px;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 37px;
}

.logo {
  width: 200px;
  height: 52px;
}

.phone__phone {
  margin-bottom: 4px;
}

.phone__phone::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  background: url(img/phone.svg);
}

.phone__text {
  font-size: 1.1rem;
}

.search-form {
  position: relative;
  width: 436px;
  margin-top: 7px;
}

.search-form__input {
  width: 100%;
  min-width: 50px;
  height: 37px;
  border: 1px solid #A7A7A7;
  border-radius: 10px;
}

.search-form__button {
  width: 55px;
  height: 37px;
  position: absolute;
  right: 0;
  background-color: #00CC00;
  border: none;
  border-radius: 10px;
}

.categories__button {
  width: 300px;
  height: 50px;
  background-color: #00CC00;
  border-radius: 10px;
  border: none;
  font-family: "Montserrat", Arial, sans-serif;
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.categories__button:hover .categories__list,
.categories__button:focus .categories__list {
  left: 0;
  opacity: 1;
  z-index: 100;
}

.categories__heading {
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: uppercase;
}

.categories__lines {
  margin-right: 10px;
}

.categories__list {
  position: absolute;
  left: -999px;
  top: 50px;
  opacity: 0;
  width: 300px;
  padding-top: 14px;
  padding-left: 14px;
  padding-bottom: 7px;
  border: 1px solid #A7A7A7;
  border-radius: 10px;
  background-color: #ffffff;
  text-align: left;
  font-size: 1.6rem;
}

.categories__list--opened {
  left: 0;
  opacity: 1;
  z-index: 100;
}

.categories__item a {
  height: 30px;
  display: block;
}

.categories__item a:hover, .categories__item a:focus {
  color: #00CC00;
}

.categories__item a:focus .categories__list {
  left: 0;
  opacity: 1;
  z-index: 100;
}

.menu {
  width: 60%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #F4F4F4;
  border: 1px solid #A7A7A7;
  border-radius: 10px;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__item {
  margin-left: 10px;
}

.profile {
  padding-right: 10px;
  position: relative;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 1.6rem;
}

.profile__button {
  background: none;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 1.6rem;
}

.profile__icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.profile__list {
  position: absolute;
  top: 34px;
  left: 0;
  z-index: 100;
  display: block;
  padding: 14px 22px 0;
  width: 100%;
  border: 1px solid #A7A7A7;
  border-radius: 10px;
  background-color: #ffffff;
}

.profile__list--closed {
  display: none;
}

.profile__item {
  margin-bottom: 14px;
}

.profile__item a {
  display: block;
}

.profile__item a:hover {
  color: #00CC00;
}

.slider {
  max-width: 800px;
  width: 100%;
  margin: 30px auto 60px;
}

.slider .owl-dots {
  text-align: center;
  margin-top: 10px;
}

.slider div.owl-carousel button.owl-dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: none;
  border: 2px solid #00CC00;
  margin: 0 4px;
}

.slider div.owl-carousel button.owl-dot.active {
  background-color: #00CC00;
}

.slider .owl-prev,
.slider .owl-next {
  position: absolute;
  top: 40%;
}

.slider .owl-prev {
  left: 5px;
}

.slider .owl-prev svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.slider .owl-next {
  right: 5px;
}

.products {
  margin-bottom: 30px;
}

.products__heading {
  margin-bottom: 30px;
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
}

.products__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.products__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border: 1px solid #A7A7A7;
  border-radius: 10px;
  padding: 0 15px;
  margin-bottom: 10px;
  height: 350px;
}

.item__img {
  max-width: 200px;
}

.item__heading {
  max-width: 200px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 1.6rem;
}

.item__price {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 1.8rem;
}

.footer {
  width: 100%;
  min-height: 150px;
  background-color: #F4F4F4;
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 1.6rem;
}

.footer__wrapper {
  max-width: 1000px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px 0 10px;
}

.footer__nav-copy {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__link {
  margin-bottom: 5px;
}
/*# sourceMappingURL=style.css.map */