$font-mont: 'Montserrat', Arial, sans-serif;
$font-rob: 'Roboto', Arial, sans-serif;
$green: #00CC00;
$border: 1px solid #A7A7A7;

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

header,
main {
	max-width: 1000px;
	margin: 0 auto;
}

a {
	text-decoration: none;
	color: #000000;
}

button {
	cursor: pointer;
}

ul {
	list-style: none;
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}

.header {
	margin-top: 17px;

	font-family: $font-mont;
	font-size: 1.6rem;

	&__top {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__phone {
		margin-top: 10px;
	}

	&__nav {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		margin-top: 37px;
	}

}

.logo {
	width: 200px;
	height: 52px;
}

.phone {
	&__phone {
		margin-bottom: 4px;

		&::before {
			content: "";
			display: inline-block;
			width: 14px;
			height: 14px;
			background: url(img/phone.svg);
		}
	}

	&__text {
		font-size: 1.1rem;
	}
}

.search-form {
	position: relative;
	width: 436px;
	margin-top: 7px;

	&__input {
		width: 100%;
		min-width: 50px;
		height: 37px;

		border: $border;
		border-radius: 10px;
	}

	&__button {
		width: 55px;
		height: 37px;
		position: absolute;
		right: 0;
		
		background-color: $green;
		border: none;
		border-radius: 10px;
	}
}

.categories {
	&__button {
		width: 300px;
		height: 50px;

		display: flex;
		justify-content: center;
		align-items: center;

		background-color: $green;
		border: none;
		border-radius: 10px;

		color: #ffffff;
		font-family: $font-mont;
		font-size: 1.8rem;
		font-weight: 600;
		text-transform: uppercase;
	}

	&__lines {
		margin-right: 10px;
	}

	&__list {
		display: none;

		border: $border;
		border-radius: 10px;

		padding-left: 14px;
		padding-bottom: 14px;
	}

	&__item {
		margin-top: 14px;

		a {
			display: block;

			&:hover {
				color: $green;
			}
		}
	}
}

.menu {
	width: 60%;
	height: 50px;

	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;

	background-color: #F4F4F4;
	border: $border;
	border-radius: 10px;

	&__list {
		display: flex;
	}

	&__item {
		margin-left: 10px;
	}
}

.profile {
	margin-right: 10px;

	background: none;
	border: none;
	font-family: $font-mont;
	font-size: 1.6rem;

	display: flex;
	justify-content: center;

	&__wrapper {
		position: relative;
	}

	&__icon {
		width: 20px;
		height: 20px;
		margin-right: 5px;
	}

	&__list {
		display: none;
		position: absolute;
		top: 34px;
		padding: 14px 22px 0;
		width: 100%;

		border: $border;
		border-radius: 10px;
	}

	&__item {
		margin-bottom: 14px;

		a {
			display: block;

			&:hover {
				color: $green;
			}
		}
	}
}

.slider {
	max-width: 800px;
	width: 100%;
	height: 300px;
	margin: 30px auto 60px;

	.owl-dots {
		text-align: center;
		margin-top: 10px;
	}

	div.owl-carousel button.owl-dot {
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background: none;
		border: 2px solid $green;
		margin: 0 4px;
	}

	div.owl-carousel button.owl-dot.active {
		background-color: $green;
	}

	.owl-prev,
	.owl-next {
		position: absolute;
		top: 40%;
	}

	.owl-prev {
		left: 5px;

		svg {
			transform: rotate(180deg);
		}
	}

	.owl-next {
		right: 5px;
	}
}

.products {
	margin-bottom: 30px;

	&__heading {
		margin-bottom: 30px;
		font-family: $font-mont;
		font-weight: 400;
		font-size: 1.8rem;
	}

	&__list {
		display: flex;
		justify-content: space-between;
		align-items: stretch;
		flex-wrap: wrap;
	}

	&__item {
		display: flex;
		flex-direction: column;
		justify-content: space-around;

		border: $border;
		border-radius: 10px;

		padding: 0 15px;
		height: 350px;
	}
}

.item {
	&__img {
		max-width: 200px;
	}

	&__heading {
		max-width: 200px;
		font-family: $font-rob;
		font-size: 1.6rem;
	}

	&__price {
		font-family: $font-mont;
		font-size: 1.8rem;
	}
}

.footer {
	width: 100%;

	background-color: #F4F4F4;
	font-family: $font-mont;
	font-size: 1.6rem;
	padding: 30px 0;

	&__wrapper {
		max-width: 1000px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	$__nav-copy {
		display: flex;
		
	}
}