.footer {
	width: 100%;
	min-height: 150px;

	background-color: #F4F4F4;
	// font-family: $font-mont;
	font-size: 1.6rem;

	&__wrapper {
		max-width: 1000px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		padding: 20px 0 10px;
	}

	&__nav-copy {
		height: 100px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	&__link {
		margin-bottom: 5px;
	}
}
