@use "../mixins.scss" as m;

.header {
	margin-top: 17px;

	@include m.font-mont;
	font-size: 1.6rem;
}

.header__info {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.header__phone {
	margin-top: 10px;
}

.header__nav {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	margin-top: 37px;
}