@use "../mixins.scss" as m;

.item__heading {
	margin-top: 40px;
	margin-bottom: 50px;
}

.item__wrapper {
	display: flex;
	flex-wrap: wrap;
}

.item__img-wrapper {
	width: 300px;
	height: 300px;
	margin-right: 30px;
}

.item__img {
	width: 100%;
	height: auto;
}

.item__info-wrapper {
	max-width: 600px;
	margin-left: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.item__number {
	color: #808080;
	margin-bottom: 20px;
}

.item__text {
	margin-bottom: 10px;
}