@use "../mixins.scss" as m;

.main-nav {
	width: 660px;
	height: 50px;

	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;

	background-color: #F4F4F4;
	@include m.border;
	border-radius: 10px;
}

.main-nav__list {
	display: flex;
}

.main-nav__item {
	margin-left: 10px;
}

.main-nav__wrapper {
	display: flex;
}