@use "../mixins.scss" as m;

.products {
	margin-bottom: 30px;
	list-style: none;
}

.products__heading {
	margin-top: 20px;
	margin-bottom: 30px;
	@include m.font-mont;
	font-weight: 400;
	font-size: 1.8rem;
}

.products__list {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	flex-wrap: wrap;
}