.products {
	margin-bottom: 30px;
}

.products__heading {
	margin-bottom: 30px;
	font-family: $font-mont;
	font-weight: 400;
	font-size: 1.8rem;
}

.products__list {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	flex-wrap: wrap;
}