@use "../mixins.scss" as m;

.product {
	display: flex;
	flex-direction: column;
	justify-content: space-around;

	@include m.border;
	border-radius: 10px;

	padding: 0 15px;
	margin-bottom: 10px;
	height: 350px;
}

.product__img {
	max-width: 200px;
}

.product__heading {
	margin-top: 10px;
	max-width: 200px;
	@include m.font-rob;
	font-size: 1.6rem;
}

.product__price {
	@include m.font-mont;
	font-size: 1.8rem;
}