@use "../variables.scss" as v;

.profile {
	padding-right: 10px;
	position: relative;

	font-family: v.$font-mont;
	font-size: 1.6rem;
}

.profile__button {
	background: none;
	border: none;
	display: flex;
	justify-content: center;
	font-family: v.$font-mont;
	font-size: 1.6rem;
}

.profile__icon {
	width: 20px;
	height: 20px;
	margin-right: 5px;
}

.profile__list {
	position: absolute;
	top: 34px;
	left: 0;
	z-index: 100;
	display: block;

	padding: 14px 22px 0;
	width: 100%;

	border: v.$border;
	border-radius: 10px;
	background-color: #ffffff;

	&--closed {
		display: none;
	}
}

.profile__item {
	margin-bottom: 14px;

	a {
		display: block;

		&:hover {
			color: v.$green;
		}
	}
}