@use "../variables.scss" as v;

.search-form {
	display: none;
	position: relative;
	width: 436px;
	margin-top: 7px;
}

.search-form__input {
	width: 100%;
	min-width: 50px;
	height: 37px;

	border: v.$border;
	border-radius: 10px;
}

.search-form__button {
	width: 55px;
	height: 37px;
	position: absolute;
	right: 0;
	
	background-color: v.$green;
	border: none;
	border-radius: 10px;
}