@use "../variables.scss" as v;

.slider {
	display: none;
	max-width: 800px;
	width: 100%;
	margin: 30px auto 60px;

	.owl-dots {
		text-align: center;
		margin-top: 10px;
	}

	div.owl-carousel button.owl-dot {
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background: none;
		border: 2px solid v.$green;
		margin: 0 4px;
	}

	div.owl-carousel button.owl-dot.active {
		background-color: v.$green;
	}

	.owl-prev,
	.owl-next {
		position: absolute;
		top: 40%;
	}

	.owl-prev {
		left: 5px;

		svg {
			transform: rotate(180deg);
		}
	}

	.owl-next {
		right: 5px;
	}
}