@use "./variables.scss";
@use "./mixins.scss";
@use "./general.scss";
@use "blocks/footer.scss";
@use "blocks/products.scss";
@use "blocks/header.scss";
@use "blocks/phone.scss";
@use "blocks/search-form.scss";
@use "blocks/categories.scss";
@use "blocks/menu.scss";

.profile {
	padding-right: 10px;
	position: relative;

	font-family: $font-mont;
	font-size: 1.6rem;

	&__button {
		background: none;
		border: none;
		display: flex;
		justify-content: center;
		font-family: $font-mont;
		font-size: 1.6rem;
	}

	&__icon {
		width: 20px;
		height: 20px;
		margin-right: 5px;
	}

	&__list {
		position: absolute;
		top: 34px;
		left: 0;
		z-index: 100;
		display: block;

		padding: 14px 22px 0;
		width: 100%;

		border: $border;
		border-radius: 10px;
		background-color: #ffffff;
	}

	&__list--closed {
		display: none;
	}

	&__item {
		margin-bottom: 14px;

		a {
			display: block;

			&:hover {
				color: $green;
			}
		}
	}
}

.slider {
	display: none;
	max-width: 800px;
	width: 100%;
	margin: 30px auto 60px;

	.owl-dots {
		text-align: center;
		margin-top: 10px;
	}

	div.owl-carousel button.owl-dot {
		width: 15px;
		height: 15px;
		border-radius: 50%;
		background: none;
		border: 2px solid $green;
		margin: 0 4px;
	}

	div.owl-carousel button.owl-dot.active {
		background-color: $green;
	}

	.owl-prev,
	.owl-next {
		position: absolute;
		top: 40%;
	}

	.owl-prev {
		left: 5px;

		svg {
			transform: rotate(180deg);
		}
	}

	.owl-next {
		right: 5px;
	}
}

.item {
	&__img {
		max-width: 200px;
	}

	&__heading {
		max-width: 200px;
		font-family: $font-rob;
		font-size: 1.6rem;
	}

	&__price {
		font-family: $font-mont;
		font-size: 1.8rem;
	}
}