@use "./variables.scss";
@use "./mixins.scss";
@use "./general.scss";
@use "blocks/footer.scss";
@use "blocks/products.scss";
@use "blocks/header.scss";
@use "blocks/phone.scss";
@use "blocks/search-form.scss";
@use "blocks/categories.scss";
@use "blocks/menu.scss";
@use "blocks/profile.scss";
@use "blocks/slider.scss";
@use "blocks/product.scss";